@layer components {
  #File {
    .edit-file-field {
      @apply overflow-y-auto overflow-x-hidden bg-white py-12 px-6;
    }

    .tag-element {
      > p {
        @apply mb-4 text-sm text-dark-blue;
      }
    }

    .tag-list {
      @apply grid grid-cols-2 gap-2;

      .sing-tag {
        @apply relative h-[56px] w-[80px] cursor-pointer rounded-lg border-[0.5px];
        foo: bar;

        > img,
        > svg {
          @apply absolute top-[50%] bottom-0 left-[50%] right-0 translate-x-[-50%] translate-y-[-50%];
          foo: bar;
          @apply block max-h-full max-w-full;
        }

        > img {
          @apply p-2;
        }
      }

      .field-tag {
        @apply h-[80px] w-[80px] cursor-pointer rounded-lg p-4 shadow-tag;
        foo: bar;
        > span {
          @apply inline-block h-6 w-6;
        }
        > p {
          @apply mt-1 text-xs;
        }
      }
    }
  }
}
